<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dispatch</servlet-name>
        <servlet-class>dispatch.dispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemsServlet</servlet-name>
        <servlet-class>Servlet.ItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoloryServlet</servlet-name>
        <servlet-class>Servlet.CategoloryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>Servlet.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FQAsServlet</servlet-name>
        <servlet-class>Servlet.FQAsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatch</servlet-name>
        <url-pattern>/dispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemsServlet</servlet-name>
        <url-pattern>/ItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoloryServlet</servlet-name>
        <url-pattern>/CategoloryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FQAsServlet</servlet-name>
        <url-pattern>/FQAsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
